extends layout

block content
	p Welcome to future
	a(href='http://intelreport.mandiant.com/Mandiant_APT1_Report.pdf') xx
	ul
		li: a(href='/load') load
		li: a(href='/current') current
		li: a(href='/ga') GA
		li: a(href='/advice') advice
		li: a(href='/history') history
		li: a(href='/holds') holds
		